.search-property-form, .login-form,
.new-property-form, .sign-up-form,
.reservation-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 4em auto auto auto;

  &__field-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;;
  }

  label {
    display: none;
  }

  textarea, select, input, label {
    margin: 5px 5px;
    width: 100%;
  }

  button {
    margin-right: 2px;
  }

  a {
    margin-left: 2px;
  }
}