.property-listings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.property-listing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 80%;
  max-width: 400px;  
  margin: 1em;
  border: 1px solid black;
  box-sizing: border-box;

  &__heading {
    display: flex;
    justify-content: center;
    font-size: 1.0rem;
    width: 100%;
    height: 15%;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    width: 100%;
  }

  &__preview-image {
    width: 50%;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }

  &__details {
    width: 50%;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;

  }
}

@media screen and (max-width: 400px) {
  .property-listing {
    flex-direction: column;
    height: 400px;
  }
}